*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.header{
    width: 100%;
    height: 250px;
    background-color: white;
    text-align: center;
    margin-top: 23px;
    height: 80px;
}
.logo{
    width: 395px;
}
.navbar{
    width: 100%;
    height: 50px;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    background-color: white;
    font-size: 17px;
}
.ourcompany{
    margin-left: 280px;
    color: black;
    text-decoration: none;
}
.ourbrands{
    color: black;
    margin-left: 50px;
    text-decoration: none;
}
.search{
    width: 21px;
    margin-left: 21px;
}
.globe{
    width: 17px;
    margin-left: 15px;
}
.readmore{
    width: 100%;
    background-color:#ffffcc;
    height: 50px;
    text-align: center;
}
.explore{
    padding-top: 15px;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: -31px;
}
.readmore{
    color: black;
}

.img1{
    overflow-y: hidden;
    width: 100%;
    height: 600px;
}

.img2{
    min-width: 100%;
}
.all1{
    width: 100%;
    position: absolute;
    height: 600px;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    text-shadow: 1px 1px #473a3a;
    font-weight: 500;
    letter-spacing: 2px;
}
.space1{
    width: 50%;
    height: 600px;
    float: left;
}
.content1{
    width: 50%;
    float: left;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: white;
    padding-top: 20px;
}
.button{
    text-decoration: none;
    padding-top: 9px;
}
.button1{
    color: white;
    margin-left: -113px;
    text-decoration: none;
    letter-spacing: 2px;
}
.provide{
    margin-left: 37px;
}
.all2{
    width: 100%;
    color: white;
    height: 600px;
    position: absolute;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    text-shadow: 1px 1px #473a3a;
    font-weight: 500;
    letter-spacing: 2px;
}
.space2{
    width: 30%;
    height: 600px;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content2{
    width: 70%;
    height: 600px;
    float: left;
}
.global{
    margin-left: 83px;
    padding-top: 10px;
}
.button3{
    text-decoration: none;
    color: white;
    margin-top: 18px;
}
.button2{
    padding-left: 31px;
    padding-top: 16px;
}

.img3{
    width: 100%;
    overflow-y: hidden;
    margin: -4px;
}
.img4{
    min-width: 100%;
}

.img5{
    width: 100%;
    height: 600px;
    overflow-y: hidden;
    margin: -2px;
}
.img6{
    min-width: 100%;
}
.content3{
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    justify-content: center;
    color: white;
}
.space3{
    width: 50%;
    height: inherit;
    float: left;
}
.all3{
    width: 100%;
    height: 600px;
    position: absolute;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    text-shadow: 1px 1px #473a3a;
    font-weight: 500;
    letter-spacing: 2px;

}

.wemake{
    padding-top: 5px;
}

.button4{
    color: white;
    text-decoration: none;
    margin-top: 13px;
    margin-left: -95px;
}
.button5{
    color: white;
    text-decoration: none;
    margin-top: 14px;

}

.btncls{
    text-decoration: none;
    color: white;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    text-shadow: 1px 1px #473a3a;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform:uppercase;

}
.all4{
    position: absolute;
    width: 100%;
}
.img7{
    width: 100%;
    height: 600px;
    overflow-y: hidden;
}
.img8{
    min-width: 100%;
}
.space4{
    width: 40%;
    float: left;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end
}
.content4{
    width: 60%;
    height: 600px;
}
.all4{
    width: 100%;
    color: white;
    height: 600px;
    position: absolute;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    text-shadow: 1px 1px #473a3a;
    font-weight: 500;
    letter-spacing: 2px;
}
.action{
    margin-left: 25px;
}
.button6{
    padding-top: 11px;
    margin-left: -122px;

}
.button7{
    color: white;
    text-decoration: none;
}

.space5{
    width: 40%;
    float: left;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end
}
.content5{
    width: 60%;
    height: 600px;
}
.all5{
    width: 100%;
    color: white;
    height: 600px;
    position: absolute;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    text-shadow: 1px 1px #473a3a;
    font-weight: 500;
    letter-spacing: 2px;
}
.action{
    margin-left: 25px;
}
.button8{
    padding-top: 11px;
    margin-left: -122px;
    padding-left: 126px;

}
.button9{
    color: white;
    text-decoration: none;
}

.img9{
    width: 100%;
    height: 600px;
    overflow-y: hidden;
}
.img10{
    min-width: 100%;
}
.support{
    margin-left: 50px;
    padding-top: 5px;
}

.img100{
    overflow-y: hidden;
    height: 600px;
}
.img11{
    min-width: 100%;
}
.all6{
    position: absolute;
    width: 100%;
    height: 600px;
    color: white;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    text-shadow: 1px 1px #473a3a;
    font-weight: 500;
    letter-spacing: 2px;

}
.space6{
    width: 50%;
    float: left;
    height: 600px;
}
.content6{
    width: 50%;
    float: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}
.make{
    margin-left:44px;
    padding-top: 19px;
    font-style: normal;
    font-size: 20px;
    line-height: 1.375rem;
}
.button11{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px #473a3a;
    font-weight: 500;

}
.button10{
    margin-top: 23px;
    margin-left: -19px;
}
.img12{
    height: 600px;
    overflow-y: hidden;
}
.img13{
    min-width: 100%;
}
.we{
    position: absolute;
    width: 100%;
    height: 600px
}
.nuture{
    width: 50%;
    float: left;
    color: white;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 1px 1px #473a3a;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;

}
.nonuture{
    width: 50%;

}
.through{
    margin-left: 30px;
    padding-top: 14px;
    line-height: 1.896rem;
    font-size: 22px;
}
.button12{
    margin-top: 15px;
    margin-left: -64px;
}

.button13{
    color: white;
    text-decoration: none;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: #4a4a4a;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    text-shadow: 1px 1px #473a3a;
}
.footer2{
    width: 30%;
    float: left;
    display: flex;
    height: 100px;
    justify-content: center;
}
.footer3{
    width: 70%;
    float: left;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo2{
    width: 198px;
}
.foot1{
    color: white;
    font-size: 17px;
    text-decoration: none;
}
.foot2{
    color: white;
    font-size: 17px;
    padding-left: 30px;
    text-decoration: none;
}
.footer4{
    width: 100%;
    height: 50px;


}
.footer5{
    width: 44%;
    display: flex;
    justify-content: center;
}
.footer6{
    width: 58%;
    float: left;
    display: flex;
    justify-content: end;

}
.finallogo{
    padding-left: 15px;
}
.footlinks{
    color: white;
    padding-left: 13px;
}
.colacompany{
    color: white;
}
.foot7{
    float: left;
    width: 42%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.privacy{
    margin-left: 20px;
    color: white;
}

